// Colors
$blue-100: #EAF1FB;
$blue-200: #E1EDFF;
$blue-300: #2F73DA;
$blue-400: #165ECC;
$blue-500: #034AB3;

$white: #ffffff;
$gray-100: #F7F9FC;
$gray-200: #EDF1F7;
$gray-300: #E2E8F0;
$gray-400: #CBD3DF;
$gray-500: #A4B0C1;
$gray-600: #768397;
$gray-700: #768397;
$gray-800: #2D3847;
$gray-900: #19212C;

$success: #14C764;
$warning: #FCBC19;
$error: #EB3434;

//Easing
$transition: all 350ms cubic-bezier(.475,.425,0,.995);
$easing: cubic-bezier(.475,.425,0,.995);

// Shadows
$shadow-low: 0px 1px 3px rgba(87, 102, 117, 0.2);
$shadow-med: 0px 3px 8px rgba(87, 102, 117, 0.15);
$shadow-high: 0px 10px 20px rgba(87, 102, 117, 0.16);
$shadow-top: 0px -1px 3px rgba(87, 102, 117, 0.2);

//Spacing
$spacing-4px: 4px;
$spacing-8px: 8px;
$spacing-12px: 12px;
$spacing-16px: 16px;
$spacing-24px: 24px;
$spacing-32px: 32px;
$spacing-40px: 40px;
$spacing-48px: 48px;
$spacing-64px: 64px;
$spacing-96px: 96px;

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url(/fonts/ProximaNova-Reg.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url(/fonts/ProximaNova-Sbold.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    src: url(/fonts/ProximaNova-Bold.otf);
}

body{
    padding: $spacing-48px;
    overflow-x: hidden;
}

//Color

div, p, a, input, textarea, label, button, h1, h2, h3{
    color: $gray-900;
}

.color-secondary{
    color: $gray-700;
}

//Font Sizes

div, p, a, input, textarea, label, button {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3{
    font-family: 'Proxima Nova';
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h1, .h1{
    font-size: 36px;
    line-height: 48px;
}

h2, .h2{
    font-size: 24px;
    line-height: 32px;
}

h3, .h3{
    font-size: 20px;
    line-height: 24px;
}

.paragraph, p{
    font-size: 16px;
    line-height: 24px;
}

.small-paragraph{
    font-size: 14px;
    line-height: 20px;
}

.small{
    font-size: 14px;
    line-height: 16px;
}

.x-small{
    font-size: 12px;
    line-height: 16px;
}

.tiny{
    font-size: 10px;
    line-height: 12px;
}

div, button{
    box-sizing: border-box; 
}

.spacer{
    width: 100%;
    height: $spacing-16px;
}

// Links

a, .link{
    color: $blue-300;
    transition: $transition;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;

    &:hover{
        color: $blue-400;
    }

    &:focus, &:hover{
        outline: none;
        color: $blue-400;
        background: $blue-100;
        border-bottom: 1px solid $blue-400;
    }

    &.icon-link{
        display: inline-flex;
        align-items: center;

        svg{
            margin-right: 8px;
            width: 16px;
            height: 16px;
        }
    }
}

//Buttons

button{
    background: $white;
    border: 1px solid $gray-300;
    color: $blue-300;
    transition: $transition;
    border: 1px solid $gray-300;
    cursor: pointer;
    border-radius: 4px;
    padding: $spacing-12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;

    &:hover{
        background: $white;
        border: 1px solid $blue-400;
        color: $blue-400;
    }

    &:focus{
        outline: -webkit-focus-ring-color auto 2px;
    }
    
    &.icon-btn{
        display: flex;
        align-items: center;

        svg{
            margin-right: $spacing-8px;  
        }

        &.right{
            svg{
                margin: 0;
                margin-left: $spacing-8px;  
            }
        }
    }

    &.primary{
        background: $blue-300;
        border: 1px solid $blue-300;
        color: $white;

        &:hover{
            background: $blue-400;
            border: 1px solid $blue-400;
        }
    }
    
    &.transparent{
        background: transparent;
        color: $blue-300;
        border-color: transparent;

        &:hover{
            background: $blue-100;
        }
    }
}

//Drawer

.drawer{
    position: absolute;
    display: none;
    right: -400px;
    top: 0;
    transition: $transition;
    width: 400px;
    height: 100vh;
    background: $white;
    padding: $spacing-32px $spacing-24px $spacing-24px;
    box-shadow: $shadow-med;

    &.open{
        right: 0;
    }

    .close{
        float: right;
        transform: translate(4px, -16px);
        cursor: pointer;

        svg{
            width: 24px;
            height: 24px;
        }
    }
}

.modal{
    max-height: 600px;
    max-width: 400px;
    width: 100%;
    background: $white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: $shadow-high;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    border-radius: 4px;

    @media (max-width: 500px){
        top: unset;
        bottom: -825px;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        max-width: unset;
        border-radius: 0;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        .close{
            border-radius: 100% !important;
        }
    }

    &.open{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%);

        @media (max-width: 500px){
            transform: translate(-50%, 0);
            bottom: 0;
        }
    }

    .modal-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-24px;

        .close{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 24px;
            height: 24px;
            cursor: pointer;
            border-radius: 4px;
            background: $gray-200;
    
            svg{
                width: 24px;
                height: 24px;
            }
        }
    }

    .modal-body{
        padding: 0 $spacing-24px $spacing-24px;
        margin-bottom: 44px;
        max-height: 462px;
        overflow: auto;
        z-index: 1;

        p{
            color: $gray-700;
        }
    }

    .modal-footer{
        display: flex;
        z-index: 2;
        position: absolute;
        width: 100%;
        transform: translateY(-44px);

        > a, > button{
            width: 50%;

            &:first-of-type{
                border-radius: 0;
                border-bottom-left-radius: 4px;
            }
            
            &:last-of-type{
                border-radius: 0;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

.modal-2{
    .modal-footer{
        box-shadow: $shadow-top;
    }
}

.modal-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    cursor: pointer;

    &.open{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}


//Inputs

.input-wrapper{

    &.disabled{

        label{
            color: $gray-600;
        }

        input[type="text"]{
            opacity: .55;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
    
    &.error{

        input[type="text"]{
            background: $white !important;
            border-color: $error !important;
        }

        .help-text{
            color: $error;
            display: flex;
        }
    }

    &.show-help{
        
        .help-text{
            display: flex;
        }
    }

    label{
        display: block;
        margin-bottom: $spacing-4px;
        color: $gray-700;
    }
   
    input[type="text"]{
        font-size: 16px;
        padding: $spacing-12px $spacing-16px;
        border: 1px solid $gray-400;
        border-radius: 4px;
        transition: $transition;
        background: $gray-100;
        width: 300px;
    
        &:hover{
            border-color: $gray-600;
        }
        
        &:focus{
            outline: none;
            border-color: $blue-300;
            background: $white;
        }
    }

    .help-text{
        display: flex;
        align-items: center;
        margin-top: $spacing-4px;
        color: $gray-700;
        display: none;

        svg{
            margin-right: 8px;
        }
    }
}

