// tiny 4px
$spacing-tiny: 4px;
$input-help-text-margin-top: $spacing-tiny;
$input-label-margin-bottom: $spacing-tiny;
$nav-bar-icon-margin-bottom: $spacing-tiny;

// x-small 8px
$spacing-x-small: 8px;
$icon-button-icon-margin-right: $spacing-x-small;
$tag-padding: $spacing-x-small;
$icon-with-text-margin: $spacing-x-small;
$button-group-button-spacing: $spacing-x-small;
$form-button-margin-top: $spacing-x-small;
$modal-headline-margin-top: $spacing-x-small;
$nav-bar-padding: $spacing-x-small;

// small 12px
$spacing-small: 12px;
$button-padding: $spacing-small;
$input-padding-top-bottom: $spacing-small;
$switch-label-margin-left: $spacing-small;
$checkbox-label-margin-left: $spacing-small;
$radio-label-margin-left: $spacing-small;
$table-footer-padding-top-bottom: $spacing-small;
$error-input-wrapper-margin-bottom: $spacing-small;

// med 16px
$spacing-med: 16px;
$input-padding-left-right: $spacing-med;
$input-wrapper-margin-bottom: $spacing-med;
$table-footer-padding-left-right: $spacing-med;
$table-cell-padding: $spacing-med;
$card-padding: $spacing-med;
$modal-body-margin-bottom: $spacing-med;

// large 24px
$spacing-large: 24px;
$modal-padding: $spacing-large;

// x-large 32px
$spacing-x-large: 32px;

// xx-large 40px
$spacing-xx-large: 40px;

// xxx-large 48px
$spacing-xxx-large: 48px;

// jumbo 64px
$spacing-jumbo: 64px;

// super jumbo 96px
$spacing-super-jumbo: 96px;


